<div class="{% for class in container_classes %}{{ class }} {% endfor %}">

	{% if enable_voting == true %}

		{% if vote_type == 'upvote' %}
			<span class="{{ vote_type }}">
		{% else %}
			<span>
		{% endif %}
				<a data-comment-id="{{ comment_id }}" class="vote-up" href="#"><i class="material-icons">thumb_up</i></a>
			</span>

		<span id="comment-weight-value-{{ comment_id }}"  class="{{ vote_type }}">{{ comment_weight }}</span>

		{% if vote_type == 'downvote' %}
			<span class="{{ vote_type }}">
		{% else %}
			<span>
		{% endif %}
				<a data-comment-id="{{ comment_id }}" class="vote-down" href="#"><i class="material-icons">thumb_down</i></a>
			</span>

	{% else %}
		<a href="{{ login_url }}"><i class="material-icons">thumb_up</i></a>
		<span id="comment-weight-value-{{ comment_id }}">{{ comment_weight }}</span>
		<a href="{{ login_url }}"><i class="material-icons">thumb_down</i></a>

	{% endif %}

</div>
